$break-small: 980px;
$break-large: 981px;


.container {
   height: 100vh;
   width: 100vw;
   margin: 2rem auto;
   display: grid;
   grid-template-areas: "header header header"
                        "main main main"
                        "footer footer footer";
   grid-template-rows: 1fr 3fr 1fr;
   grid-template-columns: 1fr 2fr 1fr;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

header {
  grid-row: 1;
  grid-column: 1/4;
  text-align: center;
}
main {
  grid-row: 2;
  grid-column: 1/4;
}
footer {
  grid-row: 3;
  grid-column: 1/4;
  text-align: center;
  background-image: radial-gradient(farthest-corner at 45px 45px, #40C9CC 0%, #31CC9A 100%);
}
.cell-1 {
   background: deepskyblue;
   grid-area: header;
}
.cell-2 {
   background: orangered;
   grid-area: left;
}
.cell-3 {
   background: limegreen;
   grid-area: main;
}
.cell-4 {
   background: gold;
   grid-area: right;
}
.cell-5 {
   background: blueviolet;
   grid-area: footer;
}
.cell {
   color: white;
   font-size: 2.5rem;
   text-align: center;
   padding: 4rem;
}
